/* ********************************************** */
/* General */

body {
    font-family: 'Quicksand', sans-serif;
    background-color: rgba(245,246,250,255);
    color: white;
}

#body-content-div {
    margin-top: 100px;
}

.content-block {
    border-radius: 25px;
    background-color: white;
    height: 80vh;
    width: 90vw;
    overflow: auto;
}

.sub-content-block {
    padding: 14px;
    border-radius: 15px;
    background-color: rgb(241, 241, 243);
    overflow: auto;
}

.main-content-block {
    background-color: rgba(163,95,216,255);
    margin-top: 33px;
    height: 80vh;
    width: 90vw;
    overflow: auto;
}

#tutorial-content-block {
    background-color: #675FD8;
    margin-top: 33px;
    height: 80vh;
    min-width: 90vw;
    overflow: auto;
}

.btn-content-block {
    height: 38%;
    background-image: linear-gradient(to right, rgba(245,246,250,255), rgb(219, 207, 230));
    transition: all 0.3s ease;
}

.btn-content-block:hover {
    transform: scale(110%);
    cursor: pointer;
}

.btn-block-row {
    height: 80vh;
}


.btn-scale {
    transition: all 0.2s ease;
    border-radius: 25px;
    height: 7em;
    width: 10em;
}

.btn-scale:hover {
    transform: scale(110%);
}

.explanation-div {
    padding-top: 9vh;
    padding-bottom: 9vh;
    text-align: center;
}

.explanation-btn-div {
    padding-top: 11vh;
    padding-bottom: 11vh;
    text-align: center;
}

.explanation-btn-div:hover {
    cursor: pointer;
}

.text-color-primary {
    color: rgba(163,95,216,255);
}

.text-color-primary:hover {
    color: rgba(163,95,216,255);
}

.bg-color-primary {
    background-color: rgba(163,95,216,255);
}

.bg-color-secondary {
    background-color: #f2f3f3;
}

.bg-color-secondary:hover {
    background-color: #e7cdee;
}

.bg-color-tertiary {
    background-color: #ebce92;
}

.bg-color-quaternary {
    background-color: rgb(99, 196, 209);
}

.lead {
    font-weight: 400;
}

.btn:focus {
    box-shadow: none;
    border: initial;
}

.input-shadow {
    margin: 2px;
    box-shadow: 0 0 2px 1px rgb(217, 216, 218);
    border: initial;
}
.input-shadow:focus {
    margin: 2px;
    box-shadow: 0 0 2px 1px rgb(208, 178, 216);
    border: initial;
}

.user-form {
    color: rgba(163,95,216);
}

/* ********************************************** */
/* Home Page */

#headnav-div {
    background-color: white;
    top: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 0.5px;
    border-radius: 25px;
    position: fixed;
    transition: all 0.3;
    box-shadow: 0px 0px 5px 1px rgb(197, 197, 197);
    z-index: 2;
}

#home-image-container {
    width: fit-content;
    height: fit-content;
    box-shadow: 0px -2px 4px 8px rgb(138, 201, 209);
    box-shadow: 0px 2px 4px 8px rgb(138, 201, 209);
    box-shadow: 2px 0px 4px 8px rgb(138, 201, 209);
    box-shadow: -2px 0px 4px 8px rgb(138, 201, 209);
    background-color: #675FD8;
    padding: 0;
}

#image-col-container {
    height: 75vh;
}

/* ********************************************** */
/* Simulator Page */

#simulator-content-block {
    background-color: rgb(138, 201, 209);
    height: fit-content;
    min-height: 90vh;
}

#sim-hr {
    color: #dde3ec;
    box-shadow: 0 0 2px 0.5px #dbdfe6;
    width: 90%;
}

.sim-page-btn {
    text-shadow: 0.3px 0.3px 3px rgb(60, 74, 100);
}

#blurb-div {
    min-height: 20vh;
}

#sim-back-btn-div {
    position: absolute;
    top: 120px;
    height: fit-content;
}

#replay-btns-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.sim-btn {
    border-radius: 50%;
    background-color: rgba(245,246,250,255);
    margin: 0.5em;
}

.sim-btn i {
    color: rgb(138, 201, 209);
}

.restart-btn {
    background-color: rgb(230, 193, 193);
}

/* table */

table {
    max-width: 160px;
    text-align: center;
}

#table-container-div {
    height: 90vh;
    width: fit-content;
    margin: auto;
}

.tbody-style>:nth-child(1)>th {
    color: rgb(254, 187, 1);
    text-align: center;
}
.tbody-style>:nth-child(2)>th {
    color: rgb(148, 148, 151);
    text-align: center;
}
.tbody-style>:nth-child(3)>th {
    color: rgb(144, 93, 51);
    text-align: center;
}
.tbody-style>:nth-child(n+4)>th {
    text-align: center;
}

/* .color-div {
    min-height: 10px;
    min-width: 10px;
} */

/* toggles */
.form-check {
    border-radius: 10px;
}

.toggle-on {
    background-color: rgba(152, 228, 224, 0.5);
}

.toggle-on .form-check-input{
    background-color: rgb(1, 221, 210);
    border-color: rgb(255, 250, 250);
    box-shadow: rgb(1, 221, 210);
    color: rgb(1, 221, 210);
}

.form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='lightgray'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:checked {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
}

.form-check-input:focus {
    background-color: rgb(255, 250, 250);
    box-shadow: 0 0 1px rgb(233, 232, 233);
    border-color: rgb(255, 250, 250);
    outline: 0;
}

.form-check-input:checked {
    background-color: rgb(1, 221, 210);
    box-shadow: 0 0 1px rgb(1, 221, 210);
    color: rgb(1, 221, 210);
    border-color: rgb(255, 250, 250);
    outline: 0;
}

.form-check:hover {
    background-color: rgb(192, 210, 214);
}