/* ********************************************** */
/* Simulator Page */

/* table */

.tbody-style>:nth-child(1)>th {
    background-color: rgb(254, 225, 1);
}
.tbody-style>:nth-child(2)>th {
    background-color: rgb(167, 167, 173);
}
.tbody-style>:nth-child(3)>th {
    background-color: rgb(167, 112, 68);
}
.tbody-style>:nth-child(n+4)>th {
    background-color: rgb(231, 231, 231);
    ;
}

.color-div {
    min-height: 10px;
    min-width: 10px;
}

/* toggles */
.form-check:hover {
    background-color: papayawhip;
}