<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfluenceF1</title>
    <!-- Chart.JS Script (MIT Liscensed) -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"></script>
    <link rel="stylesheet"
    href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/nav.css">
    <link rel="stylesheet" href="/static/alert.css">
</head>
<body>
    <!-- Nav side bar -->
    <div class="wrapper">
        <div class="container align-items-center">
            <div id="sidebar" class="row">
                <div class="col-12">
                    <div id="nav-exit-row" class="row">
                        <div class="my-2">
                            <button id="sidebar-toggle-close" class="btn btn-primary">Close</button>
                        </div>
                    </div>
                    <div id="nav-content-row" class="row">
                        <nav class="nav  text-center flex-column">
                            <div class="h5">InfluenceF1</div>
    
                            <a href="/" class="nav-link">HOME</a>
                            <a href="/how-it-works" class="nav-link">HOW IT WORKS</a>
                            <a href="/simulator/2007" class="nav-link">2007</a>
                            <a href="/simulator/2010" class="nav-link">2010</a>
                        </nav>
                    </div>
                    <div id="nav-user-row" class="row justify-content-center">
                        <ul class="nav justify-content-center">
                            {% if g.user %}
                            <form action="/logout" method="POST">
                                <button type="submit" class="btn bg-transparent nav-link">
                                    Logout
                                </button>
                            </form>
                            <a href="/profile" class="nav-link">Profile</a>
                            {% else %}
                            <a href="/login" class="nav-link">Login</a>
                            <a href="/signup" class="nav-link">Signup</a>
                            {% endif %}
                        </ul>
                        <small>Currently signed in: {{g.user.username}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- page heading and content -->
    <div class="container-fluid">
        <div class="row justify-content-center m-3">
            <div class="col">
                <nav id="headnav">
                    <div class="navbar-brand">
                        <a href="/" class="h4 text-decoration-none">InfluenceF1</a>
                    </div>
                    <div class="nav-right">
                        <button id="sidebar-toggle-open" class="btn btn-sm btn-primary m-1">Menu</button>
                    </div>
                </nav>
                <div id="flash-div" class="container">
                    {% for category, message in get_flashed_messages(with_categories=True) %}
                    <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
                    {% endfor %}
                </div>
                <div id="changes-saved" class="container d-none">
                    <div class="alert alert-success" role="alert">Changes Saved!</div>
                </div>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    {% block javascript%}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/sidebar.js"></script>
</body>
</html>