{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <canvas id="chartjs-simulator" height="200" width="300" aria-label="Simulator Graph" role="img"></canvas>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    //get data from Python/Flask
    let race_labels = JSON.parse({{ race_labels|tojson }});
    let datasets = JSON.parse({{ datasets|tojson }});
    
    // Get canvas/chart element
    let ctx = document.getElementById('chartjs-simulator').getContext('2d');
    
    // set data
    let data = {
        labels: race_labels,
        datasets: datasets
    }
    
    // set options
    let options = {}
    
    // Initialize the actual chart
    let simulatorChart = new Chart(ctx, {
        type: 'line',
        data: data
    });
</script>
{% endblock %}