{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center">

        <!-- left col: btns -->
        <div class="col-2">
            <div id="modes-div" class="d-none">
                <div class="h3"><u>Modes</u></div>
                <button id="replay-season-btn" class="btn btn-success btn-lg">Replay Season</button>
                <button id="sandbox-btn" class="btn btn-secondary btn-lg">Sandbox</button>
            </div>
        </div>

        <!-- center col: heading, chart, blurbs -->
        <div class="col-8 text-center">
            <div id="season-heading" data-year={{season.year}} class="h2">{{ season.year }} World Drivers' Championship</div>
            <div class="h6 m-3">{{season.headline}}</div>
            <div id="overview" class="m-5">
                <p>{{season.overview}}</p>
                    <button id="open-simulator-btn" class="btn btn-primary btn-lg col-12 mt-3">Open Simulator</button>
            </div>
            <div id="chart-div" class="d-none">
                <canvas id="chartjs-simulator" height="180" width="300" aria-label="Simulator Graph" role="img"></canvas>
            </div>
            <div id="sandbox-toggles-div" class="d-none m-2">
            </div>
            <div id="save-btn-div" class="d-none m-2">
                <button id="save-btn" class="btn btn-info col-12">Save</button>
                <small><i>This will save the current toggle arrangement to your account</i></small>
            </div>
            <div id="replay-btns-div" class="d-none m-2">
                <button id="next-race-btn" class="btn btn-info btn-lg text-light">Next Race</button>
                <button id="restart-replay-btn" class="btn btn-warning btn-lg text-light d-none">Restart</button>
            </div>
            <div id="blurb-div" class="d-none m-3">
                <p id="blurb-p"></p>
            </div>
        </div>

        <!-- right col -->
        <div class="col-2"></div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    //get data from Python/Flask (used in chartLogic.js)
    let raceLabels = JSON.parse({{ race_labels|tojson }});
    let raceDatasets = JSON.parse({{ datasets|tojson }});
    let manipDatasets = JSON.parse({{ datasets|tojson }});
    let refDatasets = JSON.parse({{ datasets|tojson }});
    let blurbs = JSON.parse({{ blurbs|tojson }});
    let change_texts = JSON.parse({{ change_texts|tojson }});
    let changes = JSON.parse({{ changes|tojson }});
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/static/simulator.js"></script>
{% endblock %}