{% extends 'base.html' %}
{% block content %}

<div class="container">

    <div class="row justify-content-center text-center">
        <div class="col-6">

            <div class="display-4 text-color-primary my-5">Welcome, {{ g.user.username }}</div>
        
            <button id="erase-data-modal-trigger" class="m-4 btn btn-warning btn-lg text-white">Erase All Data</button>
            <button id="delete-user-modal-trigger" class="m-4 btn btn-danger btn-lg">Delete User</button>
            
        </div>

        <!-- confirmation modals -->

        <div id="erase-data-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header text-color-primary">
                      <h5 class="modal-title">Are you sure?</h5>
                      <button type="button" class="btn btn-lg close modal-dismiss">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body text-color-primary">
                      <p>Are you sure you want to erase user data? This action cannot be undone.</p>
                    </div>
                    <div class="modal-footer">
                        <form action="/erase" method="POST">
                            <button class="btn btn-warning text-white">Confirm Erase All Data</button>
                        </form>
                      <button type="button" class="btn btn-secondary modal-dismiss">Cancel</button>
                    </div>
                  </div>
            </div>
        </div>
        <div id="delete-user-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header text-color-primary">
                      <h5 class="modal-title">Are you sure?</h5>
                      <button type="button" class="btn btn-lg close modal-dismiss">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body text-color-primary">
                      <p>Are you sure you want to delete user? This action cannot be undone.</p>
                    </div>
                    <div class="modal-footer">
                        <form method="POST">
                            <button class="btn btn-danger">Confirm Delete User</button>
                        </form>
                        <button type="button" class="btn btn-secondary modal-dismiss">Cancel</button>
                    </div>
                  </div>
            </div>
        </div>

    </div>

</div>


{% endblock %}