{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="h2">Sign up</div>
    <form method="post">
        {{ form.hidden_tag() }}
        
        {% for field in form if field.widget.input_type != 'hidden' %}
        <div class="form-group">
            {{ field.label }}
            {{field(class="form-control") }}
            {% for error in field.errors %}
            <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
        </div>
        {% endfor %}
        <button class="btn btn-info col-12">Register</button>
    </form>
</div>
{% endblock %}