{% extends 'base.html' %}
{% block content %}
<div class="container user-form">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="h1 my-4">Sign up</div>
            <form method="post">
                {{ form.hidden_tag() }}
                
                {% for field in form if field.widget.input_type != 'hidden' %}
                <div class="form-group">
                    {{ field.label }}
                    {{field(class="form-control input-shadow") }}
                    {% for error in field.errors %}
                    <small class="form-text text-danger">{{ error }}</small>
                    {% endfor %}
                </div>
                {% endfor %}
                <button class="btn bg-color-primary text-white col-12 my-3">Register</button>
            </form>
            <p>Already have an account? Login <a class="text-color-primary" href="/login">here!</a></p>
        </div>
    </div>
</div>
{% endblock %}